
@{
    ViewBag.Title = "BookedTicket";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>BookedTicket</h2>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>

<div id="PreviousBillStatementPage" class="row">
    <div class="modal-content">
        <div class="modal-header">
            <div class="col-md-5">
                <label for="">Enter Start Date</label>
                <input type="text" placeholder="dd/MM/yyyy" class="form-control" id="dtpStartDate" />
            </div>
            <div class="col-md-5">
                <label for="">Enter End Date</label>
                <input type="text" placeholder="dd/MM/yyyy" class="form-control" id="dtpEndDate" />
            </div>
            <div class="col-md-1">
                <button type="button" id="btnSearch" class="btn btn-primary" onclick="Search();" style="margin-top:30px;">Search</button>
            </div>
            <div class="col-md-1">
                <button class="btn btn-outline-info" type="button" id="btnBackToHome" onclick="BackToHome()">
                    <i class="fa fa-backward"></i>
                </button>
            </div>
        </div>
        <div class="modal-body">
            <p>Previous Bill Statements.</p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th align="center">
                            Bill Date
                        </th>
                        <th align="center">
                            Units Consumed
                        </th>
                        <th align="center">
                            Bill Amount
                        </th>
                        <th align="center">
                            Paid
                        </th>
                        <th align="center">
                            Bill Paid Date
                        </th>
                    </tr>
                </thead>
                <tbody id="tbody"></tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">

    var loginID = 0;
    var isAdmin = false;

    $(document).ready(function () {
        $('input[id*=dtp]').datepicker({
            dateFormat: 'dd/mm/yy'
        });
       
    });

    // Validate Date

    function validatedate(inputText) {
        var dateformat = /^(0?[1-9]|[12][0-9]|3[01])[\/](0?[1-9]|1[012])[\/]\d{4}$/;
        // Match the date format through regular expression
        if (inputText.match(dateformat)) {
            //Test which seperator is used '/' or '-'
            var opera1 = inputText.split('/');
            var opera2 = inputText.split('-');
            lopera1 = opera1.length;
            lopera2 = opera2.length;
            // Extract the string into month, date and year
            if (lopera1 > 1) {
                var pdate = inputText.split('/');
            }
            else if (lopera2 > 1) {
                var pdate = inputText.split('-');
            }
            var dd = parseInt(pdate[0]);
            var mm = parseInt(pdate[1]);
            var yy = parseInt(pdate[2]);
            // Create list of days of a month [assume there is no leap year by default]
            var ListofDays = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
            if (mm == 1 || mm > 2) {
                if (dd > ListofDays[mm - 1]) {
                    alert('Invalid date format!');
                    return false;
                }
            }
            if (mm == 2) {
                var lyear = false;
                if ((!(yy % 4) && yy % 100) || !(yy % 400)) {
                    lyear = true;
                }
                if ((lyear == false) && (dd >= 29)) {
                    alert('Invalid date format!');
                    return false;
                }
                if ((lyear == true) && (dd > 29)) {
                    alert('Invalid date format!');
                    return false;
                }
            } else {
                return true;
            }
        }
        else {
            return false;
        }
    }

    function Search() {
        var startDate = $('#dtpStartDate').val();
        var endDate = $('#dtpEndDate').val();
        var errorExists = false;

        if (!startDate || startDate == '') {
            errorExists = true;
            $('#dtpStartDate').addClass('btn-outline-danger');
        }

        if (!endDate || endDate == '') {
            errorExists = true;
            $('#dtpEndDate').addClass('btn-outline-danger');
        }

        if (errorExists) {
            return false;
        }

        if (!validatedate(startDate)) {
            alert('Invalid StartDate selection. Please check your input.');
            return false;
        }

        if (!validatedate(endDate)) {
            alert('Invalid EndDate selection. Please check your input.');
            return false;
        }

        if (new Date(startDate) > new Date(endDate)) {
            alert('Start Date cannot be > End Date.');
            return false;
        }

        $.post('/ElectricityBoardApi/api/LoginApi/SearchPreviousBillStatements/?startDate='+startDate+'&endDate='+endDate, function (jData) {
            var strHtml = '';
            if (jData && jData.length > 0) {
                $.each(jData, function (key, item) {
                    strHtml += '<tr>';
                    strHtml += '<td>' + item.BillDate + '</td>';
                    strHtml += '<td>' + item.UnitsConsumed + '</td>';
                    strHtml += '<td>' + item.BillAmount + '</td>';
                    strHtml += item.Paid ? '<td><span class="fa fa-check">&nbsp;</span></td>' : '<td><span class="fa fa-times">&nbsp;</span></td>';
                    strHtml += '<td>' + item.BillDate + '</td>';
                    strHtml += '</tr>';
                });

                $('#tbody').html(strHtml);
                return true;
            } else {
                alert('No records found.');
                $('#tbody').html('');
                return false;
            }
        })
    }

    function BackToHome() {
        if (!isAdmin) {
            window.location.href = "/ElectricityBoardApplication/Login/HomePage/?loginID=" + loginID + "&IsAdmin=" + isAdmin;
        } else {
            window.location.href = "/ElectricityBoardApplication/Login/AdminHomePage/?loginID=" + loginID + "&IsAdmin=" + isAdmin;
        }
    }

    @*----- EVENT DECLARATION -----*@

    $('#dtpStartDate').change(function () {
        $('#dtpStartDate').removeClass('btn-outline-danger');
    });

    $('#dtpEndDate').change(function () {
        $('#dtpEndDate').removeClass('btn-outline-danger');
    });

</script>








