
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    @*<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>*@
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: black;
        }

        * {
            box-sizing: border-box;
        }

        /* Add padding to containers */
        .container {
            padding: 16px;
            background-color: white;
            width: 30%;
            margin: auto;
        }

        /* Full-width input fields */
        input[type=text], input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }

            input[type=text]:focus, input[type=password]:focus {
                background-color: #ddd;
                outline: none;
            }

        /* Overwrite default styles of hr */
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }

        /* Set a style for the submit button */
        .registerbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }

            .registerbtn:hover {
                opacity: 1;
            }

        /* Add a blue text color to links */
        a {
            color: dodgerblue;
        }

        /* Set a grey background color and center the text of the "sign in" section */
        .signin {
            background-color: #f1f1f1;
            text-align: center;
        }
    </style>
    <script type="text/javascript">

       @*function Login() {
           jQuery.ajax({
                    url: '@Url.Action("Checkuser", "Railway")',
            type: "POST",
            data: { username: $('#UserName').val(), password: $('#Password').val()},
            success: function (result) {              
                Get();                           
                    },
            error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
        }*@

        function Login() {
            $.post('http://railwayreservationapiservices.azurewebsites.net/api/Reservation/ValidateLogin', { UserName: $('#UserName').val(), Password: $('#Password').val() }, function (jData) {
                var user = $('#UserName').val();
                if (user=="Kannan")
                    window.location.href = ("/Railway/Station"); 
                else
                    window.location.href = ("/Railway/SearchTrain"); 
            });
        }

    </script>

</head>
<body>


    <div class="container">
        <h1>Sign In</h1>

        <label for="email"><b>UserName</b></label>

        <input type="text" placeholder="Enter Email" name="UserName" id="UserName" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="Password" id="Password" required>

        <input class="btn btn-success" type="button" name="submit_reg" value="Login" onclick="Login();" >
    </div>

    <div class="container signin">
        <p>New Users Register with us. @Html.ActionLink("SignUp", "Registration", "Railway")
    </div>


</body>
</html>






