
@{
    ViewBag.Title = "TransactionHistory";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>TransactionHistory</h2>

<script>
    function Edit(filename) {       
                window.open('/Railway/DownloadSupportingDocument?fileName=' + filename +'.pdf', '_blank');       
    }
</script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
<script>
    $(document).ready(function () {

        $(function () {
            var table = $('#mytraintable').dataTable({
                "pageLength": 50,
                "proccessing": true,
                "serverSide": true,
                "ajax": {
                    url: "@Url.Action("GetBookedTicket", "Railway")",
                    type: 'POST'
                },
                "language": {
                    "search": "",
                    "searchPlaceholder": "Search..."
                },
                "columns": [

                    { "data": "Train_ID" },
                    { "data": "PNR" },
                    { "data": "Source" },
                    { "data": "Destination" },
                    { "data": "ReservationStatus" },
                    { "data": "JourneyDate" },

                    {
                        "data": "",
                        render: function (data, type, row) {
                            return '<a href="#" data-toggle="modal" data-target="#myModal" id="Edit" onclick="Edit(' + row.PNR + ')">Download Ticket</a> &nbsp <a href="#" data-toggle="modal" data-target="#myModal" id="Delete" onclick="Delete(' + row.PNR + ')">Cancel Ticket</a>';

                        }
                    },
                ]
            });
        });
    });



    @*function Edit(id) {
        debugger
        $.ajax({
            url: '@Url.Action("GetTrainDetail", "Railway")',
            typr: "GET",
            contentType: "application/json;charset=UTF-8",
            data: { Train_ID: id },
            dataType: "json",
            success: function (result) {
                $('#TrainID').val(result[0].TrainID)
                $('#Trainname').val(result[0].Train_name)
                $('#Source_ID').val(result[0].Source_stn)
                $('#Destination_ID').val(result[0].Destination_stn)
                $('#ddltraintype').val(result[0].Train_type)
                $('#TrainID').val(result[0].Train_ID)
                $('#fare1').val(result[0].Fare_Class1)
                $('#fare2').val(result[0].Fare_Class2)
                $('#fare3').val(result[0].Fare_Class3)
                $('#totalseat').val(result[0].Seat_Class1)
                $('#totalseat2').val(result[0].Seat_Class2)
                $('#totalseat3').val(result[0].Seat_Class3)
                $('#myModal').modal('show');
                $('#btnUpdate').show();
                $('#btnAdd').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }*@

</script>



<div class="row m-0">
    <div class="col-12 mt-3">
        <div id="trainsearchdiv">
            @*<table class="table table-sm  fz12">*@
            <table id="mytraintable" class="table table-striped table-bordered" style="width:100%">
                <thead class="text-uppercase">
                    <tr>
                        <th scope="col">Train ID</th>
                        <th scope="col">PNR</th>                       
                        <th scope="col">Source Station</th>
                        <th scope="col">Destination Station</th>
                        <th scope="col">Status</th>
                        <th scope="col">Booked Date</th>                       
                        <th scope="col">Action </th>
                    </tr>
                </thead>
                <tbody class="tbody"></tbody>
            </table>
        </div>
    </div>
</div>









